div.caja1{
    width: 250px;
    /* height: 200px; */
    padding: 25px 50px 10px 40px; /* se ordenaa arriba-derecha-abajo-izquiera*/
    /* padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 50px;
    padding-left: 35px; */
    /*border: 10px solid yellow;*/
    border-style: solid dotted double dotted; /* se ordenaa arriba-derecha-abajo-izquiera*/
    border-color: yellow blue green red;
    border-width: 10px;
    border-radius: 180px;
    box-sizing: border-box;
    margin: 25px 100px 50px; /* se ordenaa arriba-derecha-abajo-izquiera*/

}

p.heredado{
    margin: inherit;
}

p.no_heredado{
    margin: 50px;
}

div.caja2{
    width: 250;
    padding: 25px;
    border: 10px solid green;
    margin: 25px;
    outline-style: inset;
    outline-width: 10px;
    outline-color: blueviolet;
    /* outline: 10px inset blueviolet; */
    outline-offset: 10px;
}